*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    flex-direction: column;
    display: flex;   
    height: 568px;
    width: 320px;
    background-color: black;
}
.header{
    display: flex;
    height: 48px;
    width: 288px;
    margin-top: 16px;
    margin-left: 16px;
    justify-content: space-between;
    
}
.logo{
    height: 48px;
    width: 106.05px;
    margin-left: 1px;
    margin-top: 10px;
}
.language{
    width: 106px;
    height: 34px;
    margin-top: 10px;;    
    margin-right: -55px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-grow: 1;
}
.megaMonster{
   height: 120px;
   width: 161px;
   margin-left: 1px;
}
.saborMonster{
    width: 157px;
    height: 60px;
    margin-top: 30px;
}
.textos{
    margin-left: 70px;
}
.monsterPNG{
    height: 370px;
    margin-left: 5px;
}
.footer{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 1px;
    
    
}
.setas{
    display: flex;
    transform: translateX(50%);
    gap: 150px;
}
.seta1{
    display: flex;
    transform: translateX(-500%);
    transition: 2s;
}
@media (min-width: 768px) {
    
}
seta1:hover{
    background-color: greenyellow;
    transform: scale(1.1)
}